<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <!-- Unicode flower as favicon. -->
    <link rel="icon" href="data:image/svg+xml, <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22> <text y=%22.9em%22 font-size=%2290%22> ❁ </text> </svg>">
</head>

<body class="detail">
    <div id="wrapper">
        <section>
            <img src="<%= result.src %>" alt="<%= result.alt %>">
            <h1><%= result.title %></h1>
            <p> Model From: <a href="<%= result.model_src %>"> <%= result.model %> </a></p>
        </section>

        <section>
            <p> ꕤ </p>
        </section>

        <section>
            <p>Return to <a href="/">home</a>?</p>
        </section>
    </div> <!-- End "wrapper". -->
</body>

</html>